
.body{
  background-color: #000000;
}
.my-container{ 
  display: flex; 
  flex-direction: row; 
  justify-content: space-around; 
  overflow: hidden; 
  justify-content: center;
  align-items: center;  
  text-align: center; 
}  
  .category {
  position: relative;
  font-size: 45px;
  text-align: start;
  text-align: center;
  font-family: 'Staatliches';
  color: red;
}  

.my-movies{
  justify-content: center;
  list-style: none;
} 

.my-movies li{
  padding: 15px;
} 


.btn-left {
  position: relative;
  left: 0px;
  cursor: pointer;
  transform: rotate(0deg);
  background-color: #000000;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 20px solid #ab0c0c;
}

.btn-right {
  position: relative;
  right: 0px;
  cursor: pointer;
  transform: rotate(180deg);
  background-color: #000000;
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-right: 20px solid #ab0c0c;
}  
.my-movies img:hover{
  box-shadow: 0px 0px 7px 5px red;
}

 @media (min-width: 768px) { 
   .category{
    font-size: 45px;
  } 
   .my-movies img{
    box-shadow: 0px 0px 7px 5px blue;
    max-width: 100%;
    max-height: 100%;
  } 
 } 

 @media (max-width: 767px) { 
   .category{
    font-size: 35px;
  }
   .my-movies img{
    box-shadow: 0px 0px 10px 5px blue;
    max-width: 100%;
  } 
}

