
.navbar-brand {
    font-size: 30px !important;
    font-family: 'Nosifer', "fantasy";
    color: #ffa700 !important;
    text-shadow: 0 0 5px black, 0 0 10px black, 0 0 20px black ;
}

.navbar {
    background-color: #660000;
}

.navbar-toggler{
    background-color: #ffa700 !important;
}

#genre-dropdown {
    color: black;
    font-family: 'Staatliches';
    font-weight: 500;
    font-size: 35px;
    padding-left: 25px;
}

#decade-dropdown {
    color: black;
    font-family: 'Staatliches';
    font-weight: 500;
    font-size: 35px;
    padding-left: 25px;
}

.search-box {
    align-self: center !important;
}
.search-box input {
    font-size: large;
    width: 300px;
    height: 30px;
}

@media (min-width: 768px) {

  }
  
  @media (max-width: 1140px) {
    .navbar-brand {
    font-size: 20px !important;
    }
    .navbar-button{
        float:right;
    }
    .search-box input{
        width: 200px;
        height: 30px;
    }
    #genre-dropdown {
        font-size: 25px;
    }
    #decade-dropdown {
        font-size: 25px;
    }
  } 