.search-popup-container{
    position: absolute;
    z-index: 1;
    background-color: rgb(19, 19, 20);
    border-radius: 25px;
    border: 5px solid;
    border-color: red !important;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: 5px solid;
    position: absolute;
    top: 50%;
    height: 80%;
    transform: translate(0, -50%);
    padding: 10px;
}
.search-close-button{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    font-size: 25px;
    background-color: blue;
    border-radius: 25px;
}
.searchBoxQuery{
    margin-top: 20px;
    margin-left: 20px;
    float:left
}