
.watch-providers-logo-and-name-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: -25px;
    margin-top: 5px;
}

.watch-providers-logo{
    width: 40px ;
    height: 40px;
    border-radius: 15px;
}
.popover-body{
    margin: -5px;
}
.watch-providers-name{
    flex-wrap: wrap;
    align-self: center;
    margin-left: 5px;
}

.popover-header {
    font-size: 20px !important;
    text-align: center;
}