
.watch-providers-logo-and-name-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 5px;
}
.watch-providers-logo{
    width: 40px ;
    height: 40px;
    border-radius: 15px;
}

.watch-providers-name{
    flex-wrap: wrap;
    align-self: center;
    margin-left: 5px;
}