.watch-providers-logo-and-name-container{
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: -25px;
    margin-top: 5px;
}

.watch-providers-logo{
    width: 40px ;
    height: 40px;
    border-radius: 15px;
}
.popover-body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: -5px;
}
.watch-providers-name{
    flex-wrap: wrap;
    align-self: center;
    margin-left: 5px;
}

.popover-header {
    background-color: #ab0c0c !important;
    font-weight: 600;
    color: black !important;
    font-size: 20px !important;
    text-align: center;
} 
.movie-overview {
    font-weight: 500; 
                        /* color: white; */
    color: black;
    margin-bottom: -20px;
}
.release-date-and-vote-average{
    text-align: center;
}

.providers-container {
    display: flex;
    justify-content: space-evenly;
} 
